body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #0c122c;
}

.main-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
  height: 750px;
  color: #fffeff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bold {
  font-weight: 700;
}

.data-storage {
  margin: 0 auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.data-storage .data-storage-functions {
  background-color: #1e2c69;
  width: 350px;
  height: 200px;
  border-radius: 15px 90px 15px 15px;
  -webkit-box-shadow: 1px 10px 5px #101b39;
          box-shadow: 1px 10px 5px #101b39;
}

.data-storage .data-storage-functions .logo {
  margin: 40px 0 20px 35px;
  font-size: 2em;
  cursor: pointer;
}

.data-storage .data-storage-functions .func-icons {
  padding: 0;
  width: 500px;
  text-decoration: none;
  margin-left: 35px;
}

.data-storage .data-storage-functions .icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: inline-block;
  background-color: #0b1129;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.data-storage .data-storage-functions #file-icon {
  background-image: url("../images/icon-document.svg");
}

.data-storage .data-storage-functions #folder-icon {
  background-image: url("../images/icon-folder.svg");
}

.data-storage .data-storage-functions #upload-icon {
  background-image: url("../images/icon-upload.svg");
}

.data-storage .data-storage-data {
  margin-left: 25px;
  background-color: #1e2c69;
  width: 540px;
  height: 158px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 10px 5px #101b39;
          box-shadow: 1px 10px 5px #101b39;
  font-size: 11px;
  letter-spacing: 0.5px;
  position: relative;
}

.data-storage .data-storage-data .data-usage-tooltip {
  position: absolute;
  right: 35px;
  top: -50px;
  width: 180px;
  height: 72px;
  border-radius: 12px 12px 0 12px;
  background-color: #fffeff;
  color: #111636;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-storage .data-storage-data .data-usage-tooltip .captialized {
  text-transform: uppercase;
  color: #a6a7ac;
  vertical-align: middle;
  line-height: normal;
  font-size: 11px;
}

.data-storage .data-storage-data .data-usage-tooltip #tooltip {
  width: 0px;
  height: 0px;
  border-right: 22px solid #fffeff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  position: absolute;
  top: 50px;
  right: 0;
}

.data-storage .data-storage-data .data-usage-bar {
  height: 15px;
  border-radius: 12px;
  background-color: #151e49;
  margin: 15px 0 8px;
}

.data-storage .data-storage-data .data-usage-bar .data-usage-used {
  width: 360px;
  height: 12px;
  border: #151e49 2px solid;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9c8e), to(#fb4d92));
  background: linear-gradient(90deg, #ff9c8e 0%, #fb4d92 100%);
  position: relative;
  margin-top: 10px;
}

.data-storage .data-storage-data .data-usage-bar .usage-dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #fffeff;
  position: absolute;
  right: 2px;
  top: 2px;
}

.data-storage .data-storage-data .usage-data-label {
  width: 100%;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background {
  width: 100%;
  height: 420px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
}

.attribution {
  width: 900px;
  margin: 0 auto;
  font-size: 11px;
  text-align: right;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */