$bgcolor: #0c122c;
$icon-bgcolor: #0b1129;
$data-storage-bgcolor: #1e2c69;
$data-storage-shadow: #101b39;
body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: $bgcolor;
}
// .main-container{
//     box-sizing: content-box;
//     position: relative;
//     text-align: center;
//     width: 100%;
//     height: 750px;
//     color: #fffeff;
// }
.main-container{
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 750px;
    color: #fffeff;
    justify-content: center;
}
.data-storage{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    .data-storage-functions{
        background-color: $data-storage-bgcolor;
        width: 350px;
        height: 200px;
        border-radius: 15px 90px 15px 15px;
        box-shadow: 1px 10px 5px $data-storage-shadow;

        .logo{
            margin: 40px 0 20px 35px;
            font-size: 2em;
            text-align: left;
        }
        .func-icons{
            padding: 0;
            width: 500px;
            text-decoration: none;
            text-align: left;
            margin-left: 35px;
        }
                    
        .icon{
            width: 50px;
            height: 50px;
            margin-right: 10px;
            display: inline-block;
            background-color: $icon-bgcolor;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: 50%;
            cursor: pointer;
        }
        #file-icon{
            background-image: url('../images/icon-document.svg');
        }
        #folder-icon{
            background-image: url('../images/icon-folder.svg');
        }
        #upload-icon{
            background-image: url('../images/icon-upload.svg');
        }

    }

    .data-storage-data{
        margin-left: 25px;
        background-color: $data-storage-bgcolor;
        width: 540px;
        height: 158px;
        border-radius: 15px;
        box-shadow: 1px 10px 5px $data-storage-shadow;
    }
}
.background{
    width: 100%;
    height: 420px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
}
.attribution{
    font-size: 11px; 
    text-align: center; 
    a {
        color: hsl(228, 45%, 44%);
    }
}