$white: #fffeff;
$bgcolor: #0c122c;
$tooltip-data-color: #111636;
$tooltip-text-color: #a6a7ac;
$icon-bgcolor: #0b1129;
$databar-bgcolor: #151e49;
$data-storage-bgcolor: #1e2c69;
$data-storage-shadow: #101b39;
$data-usage-bar-start: #ff9c8e;
$data-usage-bar-end: #fb4d92;

body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: $bgcolor;
}
// .main-container{
//     box-sizing: content-box;
//     position: relative;
//     text-align: center;
//     width: 100%;
//     height: 750px;
//     color: #fffeff;
// }
.main-container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100vh;
    color: $white;
    justify-content: center;
}

.bold{
    font-weight: 700;
}

.data-storage{
    margin: 45px auto 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .data-storage-functions{
        background-color: $data-storage-bgcolor;
        width: 350px;
        height: 220px;
        border-radius: 12px 90px 12px 12px;
        box-shadow: 1px 10px 5px $data-storage-shadow;

        .logo{
            margin: 40px 0 20px 35px;
            font-size: 2em;
            cursor: pointer;
        }

        .func-icons{
            padding: 0;
            width: 500px;
            text-decoration: none;
            margin-left: 35px;
        }
                    
        .icon{
            width: 50px;
            height: 50px;
            margin-right: 10px;
            display: inline-block;
            background-color: $icon-bgcolor;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: 50%;
            cursor: pointer;
        }
        #file-icon{
            background-image: url('../images/icon-document.svg');
        }
        #folder-icon{
            background-image: url('../images/icon-folder.svg');
        }
        #upload-icon{
            background-image: url('../images/icon-upload.svg');
        }

    }

    .data-storage-data{
        margin-left: 25px;
        background-color: $data-storage-bgcolor;
        width: 540px;
        height: 158px;
        box-sizing: border-box;
        padding: 35px;
        border-radius: 15px;
        box-shadow: 1px 10px 5px $data-storage-shadow;
        font-size: 11px;
        letter-spacing: 0.5px;
        position: relative;

        .data-usage-tooltip{
            position: absolute;
            right: 35px;
            top: -50px;
            width: 180px;
            height: 72px;
            border-radius:  12px;
            background-color: $white;
            color: $tooltip-data-color;
            font-size: 4em;
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .captialized{
                text-transform: uppercase;
                color: $tooltip-text-color;
                vertical-align: middle;
                line-height: normal;
                font-size: 11px;
            }

            #tooltip{
                
                width: 0px;
                height: 0px;
                border-right: 22px solid $white;
                border-top: 22px solid transparent;
                border-bottom: 22px solid transparent;

                position: absolute;
                top: 50px;
                right: 0;
            }
        }

        .data-usage-bar{
            height: 15px;
            width: 100%;
            border-radius: 12px;
            background-color: $databar-bgcolor;
            margin: 15px 0 8px;

            .data-usage-used{
                width: 82%;
                height: 12px;
                // box-sizing: border-box;
                border: $databar-bgcolor 2px solid;
                border-radius: 10px;
                background: linear-gradient(90deg, $data-usage-bar-start 0%, $data-usage-bar-end 100%);
                position: relative;
                margin-top: 10px;
            }
            .usage-dot{
                width: 9px;
                height: 9px;
                border-radius: 10px;
                background-color: $white;
                position: absolute;
                right: 2px;
                top: 1px;
            }
        }

        .usage-data-label{
            // box-sizing: border-box;
            width: 100%;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }
}
.background{
    width: 100%;
    height: 420px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    background-image: url("../images/bg-desktop.png");
    background-repeat: repeat-x;
}
.attribution{
    width: 900px;
    margin: 0 auto;
    font-size: 11px; 
    text-align: right; 
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media all and (min-width:0px) and (max-width: 375px) {
    .main-container{
        align-items: center;
    }
    .background{
        height: 100vh;
        top: 0;
        background-image: url("../images/bg-mobile.png");
        background-repeat: repeat-y;
    }
    .data-storage{
        flex-direction: column;
        align-items: flex-start;

        .data-storage-functions{
            width: 330px;
            margin: 0 20px;
        }
        .data-storage-data{
            margin: 10px 20px 0;
            width: 330px;
            text-align: center;
            
            .data-usage-tooltip{
                top: 130px;
                right: 75px;
            }
            #tooltip{
                display: none;
    
            }
        }
    }
  }